html,body{
    height: 100%;
    margin: 0;
    width: 100%;
    background: black;
}
header{
    height: 15%;
    background: linear-gradient(#0ec4b2,#078f81);
    display: flex;
    align-items: center;
    text-shadow: 2px 2px black;
    color: #ccff00;
    margin-bottom: 5vh;
}
#large{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    font-size: 4vw;
}
table,td{
    border: 3px solid #ccff00;
    border-collapse: collapse;
}
td{
    width: 100px;
    height: 100px;
} 
#reset{
    border: 3px solid #ccff00;
    border-radius: 2vh;
    font-weight: bold;
    height: 50px;
    width: 100px;
    font-size: large;
    background-image: linear-gradient(#0ec4b2,#078f81);
}
#sizedbox{
    height: 5vh;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.small{
    color: #ccff00;
    font-size: 100px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-shadow: 2px 2px #39ff14;
}
@media screen and (max-width: 800px){
    #large{
        height: 350px;
        width: 350px;
    }
    header{
        height: 10%;
    }
    h1{
        font-size: 10vw;
    }
}